<ejs-sidebar id="default-sidebar" class="side-bar" width="250px" closeOnDocumentClick="false">
	<e-content-template>
		<div class="title-header">
			<div style="display:inline-block"> Sidebar </div>
		</div>
	</e-content-template>
</ejs-sidebar>